.BackGraund_Pagination{
 background-image: url('../img/imagen-home.jpg');
    display: flex;
    justify-content: center;
}

.ul_contained{
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style:none;
    align-items: center;
   
}

.ul_contained:hover{
 color: rgb(255, 0, 0);
}

.li{
    list-style:none;
    margin: 5px;
    color: rgb(255, 0, 0);
    display: inline;
    text-decoration:none;
}

.li:hover{
    color: #000;
}   

.a{
    color: rgb(0, 0, 0);
    border-radius: 100px;
    border: 0px;
}

.a:hover{
    color: rgb(255, 0, 0);
}
